@font-face {
    font-family: "arista";
    src: url(../font/arista_pro/Arista-Pro-Alternate-Light-trial.ttf);
}
@font-face {
    font-family: "louis";
    src: url(../font/louis_george_caf/Louis\ George\ Cafe\ Bold\ Italic.ttf);
}
:root{
    --titulo:"arista";
    --autor:"louis";
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#player{
    border: 1px solid;
    height: 400px;
    width: 240px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: #251f1f;

}
div#img{
    margin-top: 30px;
}
#img > img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
/* legendas */
#titulo{
    font-family: var(--titulo);
    opacity: 0.8;
    margin-top: 20px;
    color: white;
}
#sobrescricao{
    font-family:var(--autor) ;
    color: white;
    opacity: 0.7;
    margin-top: 10px;
}
#controls{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
#bar{
    border: 1px solid gray;
    margin-top: 8px;
    box-shadow: 0px 2px 0px gray;
}
#numero{
    display: flex;
    justify-content: space-between;
}
.cor{
    color: rgb(255, 255, 255);
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}